@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #4f46e5;
  --primary-hover: #4338ca;
  --sidebar-bg: #0f172a;
  --sidebar-hover: #1e293b;
  --sidebar-active: #334155;
  --bg-slate-50: #f8fafc;
}

body {
  font-family: 'Outfit', sans-serif;
  @apply bg-slate-50 text-slate-900;
}
